<h1>{{title}}</h1>
  <!--El switch case muestra ciertas etiquetas dependiendo del valor del atributo-->
  <ng-container [ngSwitch]="userType">
    <ng-container *ngSwitchCase="'user'">
      <button>Acciones basicas</button>
    </ng-container>
    <ng-container *ngSwitchCase="'prof'">
      <button>Acciones Profesor</button>
    </ng-container>
    <ng-container *ngSwitchCase="'admin'">
      <button>Acciones basicas</button>
      <button>Acciones Profesor</button>
      <button>Acciones Administrador</button>
    </ng-container>
  </ng-container>


<app-student-table></app-student-table>