<header>
  <div id="name">
    <img src="assets/img/logoPUJ.png" alt="LOGO PUJ" id="logo" />
    <h1>{{ title }}</h1>
  </div>


  <!--El switch case muestra ciertas etiquetas dependiendo del valor del atributo-->
  <div [ngSwitch]="userType">
    <ng-container *ngSwitchCase="'user'">
      <button>Acciones basicas</button>
    </ng-container>
    <ng-container *ngSwitchCase="'prof'">
      <button>Acciones Profesor</button>
    </ng-container>
    <ng-container *ngSwitchCase="'admin'">
      <button>Acciones basicas</button>
      <button>Acciones Profesor</button>
      <button>Acciones Administrador</button>
    </ng-container>
  </div>
</header>
<div id="content">
  <app-student-table></app-student-table>
</div>
